[Desktop Entry]
Type=Application
Name=SUP Install
Exec=terminal -geometry 80x10 -hold -e sup install %f
Icon=system-software-installer
NoDisplay=true
MimeType=application/x-sup;
