[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=SUP Web Services
Exec=tazweb --notoolbar http://scn.slitaz.org/?sup
Icon=application-x-archive
Categories=Network;
