[Desktop Entry]
Type=Application
Name=Install SUP Package
Exec=terminal -geometry 80x20 -hold -e sup install %f
Icon=package-install
NoDisplay=true
MimeType=application/x-sup;
